body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrapper {
    text-align: center;
}

input {
    border: 1px solid #539ac7;
    margin-bottom: 1rem;
}

table {
    justify-content: center;
    border-collapse: collapse;
    table-layout: fixed;
    text-align: center;
}
table, th, td {
    border:  1px solid black;
    height: 40px;
}

th {
    background-color:khaki;
    color: black;
}




.block {
    padding-top: 30px;
    padding-bottom: 30px;
}
  